.loader-container {

  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  background: #000;
  color: white;
  height: 100%;
  width: 100%;

}

.loader {

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.ring {

  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: spin 2s linear infinite;

}

.ring::before {

  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px rgba(255, 255, 255, .3);
  border-radius: 50%;

}

.loading-span {

  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;

}


@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #28b201;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}